/*
 * Plugin Name: Author Widget
 * Plugin URI: http://plugin.obaidhossain.tk/wordpress/author-widget
 * Description: Show your Blog author list in Cool Styles & more features
 * Version: 2.0
 * Author: Obaid Hossain
 * Author URI: http://obaidhossain.tk
 * License: GPLv2 or later
 * License URI: http://www.gnu.org/licenses/gpl-2.0.html
 */

/* Do not try to edit here. The Plugin will be broken */

/* Style for ALWP */

#alwp{
	width: 100%;
}
#alwp ol {
	list-style:none;
}
#alwp ol li {
	margin:12px 0px;
	display:block;
}
#alwp ol li figure {
	margin:0;
	position:relative;
	border:5px solid white;
	border-radius:3px;
	box-shadow:0 0 4px rgba(0,0,0,.3);
	-ms-box-shadow:0 0 4px rgba(0,0,0,.3);
	-webkit-box-shadow:0 0 4px rgba(0,0,0,.3);
	-moz-box-shadow:0 0 4px rgba(0,0,0,.3);
	width:100px;
	display:block;
	cursor:pointer;
	overflow:hidden;
}
#alwp ol li figure:hover figcaption {
	opacity:1;
	transform:rotate(0);
	-ms-transform:rotate(0);
	-moz-transform:rotate(0);
	-webkit-transform:rotate(0);
}
#alwp ol li figure:hover > img {
	transform: scale(1.4);
	-ms-transform: scale(1.4);
	-webkit-transform: scale(1.4);
	-moz-transform: scale(1.4);
}
#alwp ol li figure img {
	transition:all 1s;
	-ms-transition:all 1s;
	-webkit-transition:all 1s;
	-moz-transition:all 1s;
}
#alwp ol li figcaption {
	position:absolute;
	top:0;
	background: rgba(0,0,0,.6);
	color:white;
	width:100%;
	height:100%;
	opacity:0;

	transition:all .5s;
	-webkit-transition:all .5s;
	-ms-transition:all .5s;
	-moz-transition:all .5s;
	
	transform:rotate(360deg);
	-webkit-transform:rotate(360deg);
	-ms-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
}
#alwp ol li figcaption h5 {
	padding:4px 6px ;
	margin:0px ;
	background:black ;
	font-family:arial ;
	font-size:9pt ;
	line-height:1.4 ;
}
#alwp ol li figcaption p {
	padding:1px 6px ;
	margin:0px ;
	font-size:7pt;
	font-family:arial;
	line-height:1.2;
}

/* End of styling ALWP */

/* Name : ALWP
 * Copyright @ ALWP by Obaid
 * Author Profile Link : http://obaidhossain.tk/
 */